.mainWrapper{
    width:100%;
    height:100%;
    position: fixed;
    overflow-y: scroll;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: #121619;
}
 

.first{
    width:100%;
    background:linear-gradient(0deg,#2e3842,#21b2a6);
    height:100%;
    text-align: center;
}
.second{
    width: 100%;
    text-align: center;
    height: 100%;
    background:linear-gradient(0deg,#1b1f26,#2e3842);
/*    21b2a6 121619 */
    text-align: center;
}
.title{
    border-bottom: 3px solid white;
    color: white;
    transition: 0.3s;
    font-family: "Montserrat",sans-serif;
    font-size: 60px;
    border-bottom:0px solid white;
    position: relative;
    top: 50%;
    margin-bottom: 0px;
    animation-name: move;
    animation-fill-mode: forwards;
    opacity: 0;
    cursor: pointer;
    animation-duration: 3s;
    border-bottom: 0px solid white;
    transform: translateY(-50%); 
   }


.bodyWrapper{
    width:100%;
    height:100%;
    z-index:10;
    left:0;
    top:0;
    
}

#navbar{
    background-color: black;
}
.responsive{
    max-height:250px;
    max-width: 250px;
    margin-top: -70px;
    margin-bottom: -55px;
}
#navItems{
    font-family: "Montserrat",sans-serif;
    color:white;
    font-size:25px;
    margin-left:7.5vw;
    letter-spacing: 5px;
    text-transform: uppercase;
    opacity: 0.75;
    cursor: pointer;
    transition: transform 0.5s;
}
#navItems:hover{
    transform:scale(1.2);
    transition: transform 0.5s;
}
@media only screen and (max-width: 600px) {
    #navItems{
        font-size:20px;
        padding-top: 20px;
        cursor: pointer;
        letter-spacing: 5px;
        margin-top: 20px;
        padding-bottom: 20px;
    }
    #navItemsActive{
        font-size:20px;
        padding-top: 20px;
        letter-spacing: 5px;
        cursor: pointer;
        margin-top: 20px;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
    .bold{
        font-size:25px;
    }
    .second{
        height:auto;
    }
   .top{
    margin-right:20px;
    margin-left: 20px;
   }
}

#navItemsActive{
    font-family: "Montserrat",sans-serif;
    color:white;
    cursor: pointer;
    margin-left: 100px;
    text-transform: uppercase;
    letter-spacing:5px;
    margin-left:50px;
    font-size:25px;
    transition: transform 0.5s;

}
#navItemsActive:hover{
    transform:scale(1.2);
    transition: transform 0.5s;
}
.sub{
     font-family: "Montserrat",sans-serif;
    color:white;
    margin-top:15%;
}

 

 @-webkit-keyframes top {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes top {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes top {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
   @-webkit-keyframes main {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes main {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes main {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes throb{
    0%{transform: scale(1.0);}
    33.33%{transform: scale(1.1);}
    66.67%{transform: scale(1.2);}
    100%{transform: scale(1.3);}
}
.bold{
    font-family: "Montserrat",sans-serif;
    font-size:auto;
    margin-top: 100px;
    margin-left: 30px;
    color:white;
    margin-right:30px; 
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 1.65em;
}
.text{
    line-height:auto;
    color: white;
    letter-spacing: 0.075em;
    line-height: 1.6em;
    text-transform: uppercase;
    margin-top: 40px;
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
    margin-left: 30px;margin-right: 30px;
}
hr.style-two { 
    border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));margin-top: 40px; 
}
a{
    color:white;
}
a:hover{
    text-decoration: none;
    color: white;
}
#navbar{
    background-color: transparent;
}
@keyframes move{
    from{opacity: 0;}
    to{opacity: 1;}
}
.top{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:15vw;
    margin-right:15vw;
    height: 2px;
    animation-name:bottom;
    background-color: white;
    animation-fill-mode: forwards;
    animation-duration: 0.5s; 
}
@keyframes bottom{
    0%{margin-left:;65vwmargin-right:65vw;}
   /* 12.5%{margin-left:22vw;margin-right:18.5vw;}*/
    25%{margin-left:55vw;margin-right:55vw;}
/*    37.5%{margin-left:20vw;margin-right:20vw;}*/
    50%{margin-left:45vw;margin-right:45vw;}
 /*   62.5%{margin-left:18vw;margin-right:18vw;}
*/    75%{margin-left:35vw;margin-right:35vw;}
   /* 87.5%{margin-left:16vw;margin-right:16vw;}*/
    100%{margin-left: 25vw;margin-right:25vw;}
}
@media (min-width: 768px) and (max-width: 1024px) {
     #navItems{
        font-size:20px;
        padding-top: 20px;
        cursor: pointer;
        margin-left: 0px;
        letter-spacing: 5px;
        margin-top: 20px;
        padding-bottom: 20px;
    }
    #navItemsActive{
        font-size:20px;
        padding-top: 20px;
        margin-left: 0px;
        letter-spacing: 5px;
        cursor: pointer;
        margin-top: 20px;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
}

}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.subz{
     position: relative;
    top: 50%;
    font-size: 25px;
    animation-name: move;
    animation-delay:1s;
    animation-name: move;
     animation-fill-mode: forwards;
    opacity: 0;
    animation-duration: 3s; 
    transform: translateY(-50%); 
    letter-spacing:5px;
    color: white; 
    font-family: "Montserrat",sans-serif;
}
.knowz{
    position: relative;
    color: white;
    margin-top:100px;
    letter-spacing: 5px;
    animation-delay:1.5s;
    animation-name: move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%); 
}nav{
    text-align: center; 
}
.textify{
    text-align: center;
    color: white;
    letter-spacing: 5px;
    margin-left:10px;
    margin-right: 10px;
    font-size: 20px;
    font-family: "Montserrat",sans-serif;
    margin-top: 30px;
}
.spex{
    letter-spacing: 10px;
    font-size: 20px;
    color: white;
    font-family: "Montserrat",sans-serif;
    margin-top:10vh;
}
.o{
    background-color: white;
    height: 2px;
    margin-right: 35vw;
    margin-left: 35vw;
    margin-top: 5vh;
}
.image{
	width: 20px;
	height: 20px;
	position: relative;
    margin-top:100px;
    animation-delay:1.5s;
    opacity: 0;
    animation-name:arrow,opening;
    transform: scale(0);
    animation-duration: 1s;
    animation-iteration-count: infinite,1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
/*    opacity: 0;*/
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%); 
}
@keyframes arrow{
    from{transform: scale(1.0);}
    to{transform: scale(1.5);}
}
@keyframes opening{
    from{opacity: 0;}
    to{opacity: 1;}
}
