.mainWrapper{
    width:100%;
    height:100%;
    position: fixed;
    overflow-y: scroll;
    z-index: 10;
    left: 0;
    top: 0;
    background: linear-gradient(358deg,#ff6f04, #f49822, #f44422);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 49s ease infinite;
    -moz-animation: AnimationName 49s ease infinite;
    animation: AnimationName 49s ease infinite;
}
 

.first{
    width:100%;
    background-color: black;
    height:100%;
}
.second{
    width: 100%;
    height: 100%;
}
.title{
    color: white;
    font-family: "Montserrat",sans-serif;
    font-size: 60px;
    border-bottom:0px solid white;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 

}
.bodyWrapper{
    width:100%;
    height:100%;
    z-index:10;
    left:0;
    top:0;
    background: linear-gradient(3deg, #e02323, #efd73c);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    text-align: center;
    position: fixed;
}

#navbar{
    background-color: black;
}
.responsive{
    max-height:250px;
    max-width: 250px;
    margin-top: -70px;
    margin-bottom: -55px;
}
#navItems{
    font-family: "Montserrat",sans-serif;
    color:white;
    font-size:25px;
    margin-left:50px;
    opacity: 0.75;
    cursor: pointer;
    transition: transform 0.5s;
}
#navItems:hover{
    transform:scale(1.2);
    transition: transform 0.5s;
}
@media only screen and (max-width: 600px) {
    #navItems{
        font-size:20px;
        padding-top: 20px;
        cursor: pointer;
        margin-left:20px;
        padding-bottom: 20px;
    }
    #navItemsActive{
        font-size:20px;
        padding-top: 20px;
        cursor: pointer;
        margin-left:20px;
        padding-bottom: 20px;
    }
   
}

#navItemsActive{
    font-family: "Montserrat",sans-serif;
    color:white;
    cursor: pointer;
    margin-left: 50px;
    font-size:25px;
    transition: transform 0.5s;

}
#navItemsActive:hover{
    transform:scale(1.2);
    transition: transform 0.5s;
}


